@import "tailwindcss";

@font-face {
  font-family: 'Mullingar';
  src: url('/fonts/Mullingar.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('/fonts/DMMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Domine';
  src: url('/fonts/Domine.ttf') format('truetype');
  font-style: normal;
}


:root {
  --foreground: #171717;

  --font-title: "Mullingar", serif;
  --font-subtitle: "Domine", serif;
  --font-text: "DM Sans", serif;
  --font-code: "DM Mono", serif;

  --color-beige-100: #F7F5F1;
  --color-beige-200: #E4DACD;
  --color-beige-300: #CFCCC2;
  --color-green-300: #959F9C;
  --color-green-500: #596661;
  --color-green-700: #31423D;
  --color-green-800: #26312D;
  --color-orange-100: #F3E8E1;
  --color-orange-500: #E0785F;
  --color-orange-600: #BC5A3F;
  --color-orange-800: #4B291C;
  --background: var(--color-orange-600);
}

@theme inline {
  
  --font-title: var(--font-title);
  --font-subtitle: var(--font-subtitle);
  --font-text: var(--font-text);
  --font-code: var(--font-code);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-beige-100: var(--color-beige-100);
  --color-beige-200: var(--color-beige-200);
  --color-beige-300: var(--color-beige-300);
  --color-green-300: var(--color-green-300);
  --color-green-500: var(--color-green-500);
  --color-green-700: var(--color-green-700);
  --color-green-800: var(--color-green-800);
  --color-orange-100: var(--color-orange-100);
  --color-orange-500: var(--color-orange-500);
  --color-orange-600: var(--color-orange-600);
  --color-orange-800: var(--color-orange-800);
}

body {
  background: var(--background);
  color: var(--color-green-700);
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 1.25rem;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 948px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

strong {
  font-weight: 700;
}

.hero-title {
  letter-spacing: 2.084px;
  line-height: 0.85;
}

@media (min-width: 768px) {
.hero-title-matrix, .hero-title-matrix-hover:hover {
  position: relative;
  transition: all 0.2s;
  color: #fff;
  text-shadow: 
    0px 0px 238px #4B291C,
    0px 0px 8px #57C12D, 
    0px 0px 110px #71D774, 
    0px 0px 38px #36922F;
}

.hero-title-matrix-hover:hover span:last-child {
  display: none;
}

.hero-title-matrix-hover:hover:last-child::after {
  content: ";";
}

.hero-title-matrix::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  color: transparent;
  text-shadow: inset 0px 0px 8px #57C12D;
  z-index: -1;
}
}

.hero-title-matrix-simple {
  color: rgba(82, 177, 106, 0.22) !important;
}

.hero-title-word {
  display: block;
  font-size: 104px;
}

.sub-hero-title {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.sub-hero-title-border {
  border-top: 1px solid rgba(252, 243, 231, 0.40);
  border-bottom: 1px solid rgba(252, 243, 231, 0.40);
  padding-top: 2px;
  padding-bottom: 2px;
}

.sub-hero-title-subborder {
  border-top: 1px solid rgba(252, 243, 231, 0.20);
  border-bottom: 1px solid rgba(252, 243, 231, 0.20);
}

.card-box-shadow {
  box-shadow: 0px 4px 16.6px 0px rgba(0, 0, 0, 0.10);
}

.swipper-scroll {
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 768px) {
  .relative.border-gradient::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 0.75rem;
    padding: 2px;
    background: linear-gradient(to bottom, var(--color-beige-200), rgba(255, 255, 255, 0.02));
  }
  .card-box-shadow-desktop {
    box-shadow: 0px 4px 16.6px 0px rgba(0, 0, 0, 0.10);
  }
  .locale-switcher-shadow {
    box-shadow: 0px 4px 9.3px 0px rgba(75, 41, 28, 0.05);
  }
}
